.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #ffe21c);
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #302d2d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: #302d2d;
  color: white;
}

button {
  all: unset;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: #302d2d;
  color: white;
}

.icon-body {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;

}

.icon-body>* {
  margin-bottom: 1rem;
}